body {
  font-family: 'Poppins', sans-serif;
}

/* Make the scrollbar always visible on mac os */

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #eaeaea;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/* Make both ingredient list and recipe plan have scroll bars */

.ingredient-list {
  max-height: 80vh;
  overflow: scroll;
}

.recipe-plan {
  max-height: 40vh;
  overflow: scroll;
}