/*
 *
 * Variables
 *
*/

/* 
  Colors

  Brand: 
  #45b49c
*/

/*
 *
 * Bootstrap Overrides
 *
*/

body {
  font-family: 'Poppins', sans-serif;
}

a {
  color: #3FC1C9;
}

a:hover {
  color: #339ca1;
}

.btn {
  border-radius: 0px;
}

.btn-primary {
  color: #fff;
  background-color: #3FC1C9;
  border-color: #3FC1C9;
}

.btn-primary:hover {
  color: #fff;
  background-color: #339ca1;
  border-color: #339ca1;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #277579;
  border-color: #277579;
}

.btn-link {
  font-weight: 400;
  color: #3FC1C9;
  background-color: transparent;
}

.btn-link:hover {
  color: #339ca1;
}

.form-control {
  border: 1px solid #eaeaea;
  border-radius: 0;
}

.border-bottom {
  border-bottom: 1px solid #eaeaea!important;
}

.border-left {
  border-left: 1px solid #eaeaea!important;
}

.btn-outline-danger {
  border: none;
}

/*
 *
 * Custom Styles
 *
*/

/* Make the scrollbar always visible on mac os */

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #eaeaea;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/* Make both ingredient list and recipe plan have scroll bars */

.ingredient-list {
  max-height: 80vh;
  overflow: scroll;
}

.ingredient-list-header {
  border-left: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.recipe-plan {
  max-height: 40vh;
  overflow: scroll;
}

.goal-time-input {
  margin: 0rem 0.5rem;
}

@media screen and (max-width: 576px) {
  .ingredient-list {
    max-height: 100%;
    overflow: auto;
  }

  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
}

.logo {
  height: 50px;
}